h1 {
	color: #2d10b3;
}

h2 {
	color: #2d10b3;
}

h3 {
	color: #FFC125;
}

h4 {
/*	color: #ef2929;*/
	font-weight: bold;
}

h5 {
/*	color: #3e18f0;*/
	font-weight: bold;
}

h6 {
	color: #2d10b3;
	font-weight: bold;
}

h6.hipertensaoArterial{
	color: coral;
	font-weight: bold;
	background-color: coral;
}

tr, th,td 
{
	border: 1px solid #000000;
}

div.container-fluid {

}

div.container {
/*	text-align: center;*/
	background: #DCDCDC;
/*	style="font-size:12	px;"*/
}

div.containerTitulo {
	text-align: center;
	background: #DCDCDC;
}

tr.titulotabela{
	text-align: center;
	font-size: 25px
}

nav{
	display: flex;
	justify-content: center;
}

/* CSS Mapa */
       #map {
           height: 100%;
           width: 100%;
       }
       html, body {
           height: 100%;
           margin: 0;
           padding: 0;
       }
       .label {
           color: #000;
           background-color: white;
           border: 1px solid #000;
           font-family: "Lucida Grande", "Arial", sans-serif;
           font-size: 12px;
           text-align: center;
           white-space: nowrap;
           padding: 2px;
       }
       .label.green {
           background-color: #58D400;
       }
       .label.red {
           background-color: #D80027;
           color: #fff;
       }
       .label.yellow {
           background-color: #FCCA00;
       }
       .label.pink {
           background-color: #FF69B4;
       }
       .label.blue {
           background-color: #0000FF;
           color: #fff;
       }


