{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Ficha Cadastro Individual{% endblock %}

{% block conteudo %}

{% load static %}

	<form method="post">
		{% csrf_token %}	

		<div class="container">
			<div class="row" >
				<div class="col-sm-2">
					<img class="img-fluid" class="img-thumbnail" src="{% static 'img/esus.jpg'%}" width="300" height="168" alt="Logotipo eSus">
				</div>
				<div class="col-sm-7">
					<h1 class="text-center">
						<p>CADASTRO INDIVIDUAL</p>
					</h1>
				</div>
				<div class="col-sm-3">
					<br>
				</div>
			</div>
		</div>
		<br>		
		<div class="container">
		  	<div class="row">
				<div class="col-sm-3">
				    <label for="cnsProfissional"><strong>CNS do Profissional</strong></label>
					<br>
					{% render_field form.cnsProfissional class+="form-control" %}
			    </div>
			    <div class="col-sm-2">
				    <label for="cbo"><strong>CBO</strong></label>
					<br>
					{% render_field form.cbo class+="form-control" %}
			    </div>
			    <div class="col-sm-2">
				    <label for="cnes"><strong>CNES</strong></label>
					<br>
					{% render_field form.cnes class+="form-control" %}
			    </div>
			    <div class="col-sm-2">
				    <label for="ine"><strong>INE</strong></label>
					<br>
					{% render_field form.ine class+="form-control" %}

			    </div>
				<div class="col-sm-3">
				    <label for="ine"><strong>Data</strong></label>
					<br>
					{% render_field form.data class+="form-control" placeholder="dd/mm/yyyy" %}
				</div>
			</div>
		</div>
		<br>
		<div class="container">
			<div class="card">
				<div class="card-header">
			  		<h5>Identificação do Usuário / Cidadão</h5>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-sm-3">
						    <label for="cnsCidadao"><strong>CNS do Cidadão</strong></label>
							{% render_field form.cnsCidadao class+="form-control" %}
					    </div>
					    
					    <div class="col-sm-3">
					       		<label for="sexo"><strong>Responsavel familiar?</strong></label>      
								{% render_field form.sexo class+="form-control" %}
				    	</div>
<!--					    
					       	{% for radio in form.sexo %}  
					       		<label for="{{radio.id_for_label}}">      
								{% render_field form.sexo class+="form-control" %}
					       		</label>
					       	{% endfor %}							

							<strong>Responsavel familiar?</strong>
							<br><p></p>
							<div class="custom-control custom-radio custom-control-inline">
							  <input type="radio" class="custom-control-input" id="rf_sim">
							  <label class="custom-control-label" for="rf_sim">Sim</label>
							</div>
							<div class="custom-control custom-radio custom-control-inline">
							  <input type="radio" class="custom-control-input" id="rf_nao">
							  <label class="custom-control-label" for="rf_nao">Nao</label>
							</div>
							
-->							


						<div class="col-sm-3">
						    <label for="cnsresponsavelFamiliar"><strong>CNS do responsável</strong></label>
							{% render_field form.cnsResponsavelFamiliar class+="form-control" %}
					    </div>
						<div class="col-sm-2">
						    <label for="microarea"><strong>Micro área</strong></label>
							{% render_field form.microArea class+="form-control" %}
					    </div>
					</div>
					<div class="row">
						<div class="col">
						    <label for="nomeCompleto"><strong>Nome Completo</strong></label>
							{% render_field form.nomeCompleto class+="form-control" %}
					    </div>
					</div>
					<div class="row">
						<div class="col-sm-5">
						    <label for="nomeSocial"><strong>Nome Social</strong></label>
							{% render_field form.nomeSocial class+="form-control" %}
					    </div>
						<div class="col-sm-3">
						    <label for="dataNascimento"><strong>Data de Nascimento</strong></label>
							{% render_field form.dataNascimento class+="form-control" placeholder="dd/mm/yyyy" %}
					    </div>
				    </div>
			    </div>
			</div>
		</div>

        <center>
			<br><br>
			<button class="btn btn-primary">Salvar</button>
			<a href="{% url 'index' %}"><button type="button" class="btn btn-danger">Cancelar</button></a>
        </center>
				
	</form>


{% endblock %}