{% extends "base.html" %}

{% block title %}Exclusão de Fichas Individuais{% endblock %}

{% block conteudo %}

{% load static %}

	<div class="container">
		<div class="row" >
			<div class="col-sm-2">
				<img class="img-fluid" class="img-thumbnail" src="https://drive.google.com/uc?id=1wv9EHy4Q867bwoG8ItVe9Y6IAdE9ejdn" width="300" height="168" alt="Logotipo eSus">
			</div>
			<div class="col-sm-7">
				<br>
				<h1 class="text-center">
					<h2>Exclusão de Fichas Individuais</h2>
				</h1>
			</div>
			<div class="col-sm-3">
				<br>
			</div>
		</div>
	</div>
	<br>
	<h4>
	<p>Você tem certeza que deseja excluir a Ficha Individual do cidadão 
		<b>{{ FichaDoenca.nomeCompleto }} </b> ?</p>
	</h4>
	<form method="post">
		{% csrf_token%}	

		<br><br>
		<button class="btn btn-primary"><i class="fa fa-trash-o"></i> Excluir</button>
		<a href="{% url 'lista_cadastro_individual' %}"><button type="button" class="btn btn-danger"><i class="fa fa-close"></i> Cancelar</button></a>

	</form>


{% endblock %}