{% extends "base.html" %}

{% block title %}Sistema Controle Doenças Cronicas{% endblock %}

{% block conteudo %}

	<div class="container">
		<div class="row" >
			<div class="col-sm">
				<div class="p-3 mb-2 text-white">
				</div>
			</div>
			<div class="col-sm">
				<div class="p-3 mb-2 bg-primary text-white">
					<h4 class="text-center">
						<button type="button" class="btn btn-primary">Ficha Cadastro Domiciliar</button>				
					</h4>
				</div>
			</div>
			<div class="col-sm">
				<div class="p-3 mb-2 bg-primary text-white">
					<h4 class="text-center">
						<button type="button" class="btn btn-primary">Ficha Cadastro Saúde</button>
					</h4>
				</div>
			</div>
			<div class="col-sm">
				<div class="p-3 mb-2 text-white">
				</div>
			</div>
		</div>	  
		<div class="row" >
			<div class="col-sm">
				<div class="p-3 mb-2 text-white">
				</div>
			</div>
			<div class="col-sm">
				<div class="p-3 mb-2 bg-primary text-white">
					<h4 class="text-center">
						<button type="button" class="btn btn-primary">Visualizar Mapas</button>				
					</h4>
				</div>
			</div>
			<div class="col-sm">
				<div class="p-3 mb-2 bg-primary text-white">
					<h4 class="text-center">
						<button type="button" class="btn btn-primary">Vizualisar Gráficos</button>
					</h4>
				</div>
			</div>
			<div class="col-sm">
				<div class="p-3 mb-2 text-white">
				</div>
			</div>
		</div>	  
	</div>
	
{% endblock %}