{% extends "base.html" %}

{% block title %}Sistema Controle Doenças Crônicas{% endblock %}

{% block conteudo %}

{% load static %}

	<div class="containerTitulo">
		<p>Olá {{ user.username }}! Seja bem vindo!!!</p>
		<center>
			<h2>Sistema Controle Doenças Crônicas
			<br>
			</h2>
		</center>
		<img class="img-fluid" class="img-thumbnail" src="{% static 'img/map_top.png'%}" width="600" height="480" alt="Mapa Doencas Cronicas">
<!--		<img class="img-fluid" class="img-thumbnail" src="{% static 'img/map_top.png'%}" width="1024" height="600" alt="Mapa Doencas Cronicas">-->
	</div>	
	<br>
	<div class="containerTitulo">
		<div class="row" >
			<div class="col-sm">
				<div class="p-3 mb-2 text-white">
				</div>
			</div>
			<div class="col-sm">
				<div class="p-3 mb-2 bg-primary text-white">
					<h4 class="text-center">
						<button type="button" class="btn btn-primary">Ficha Cadastro Domiciliar</button>				
					</h4>
				</div>
			</div>
			<div class="col-sm">
				<div class="p-3 mb-2 bg-primary text-white">
					<h4 class="text-center">
					    <p><a href="{% url 'lista_cadastro_individual' %}"><button type="button" class="btn btn-primary">Ficha Cadastro Individual</button></a></p>
					</h4>
				</div>
			</div>
			<div class="col-sm">
				<div class="p-3 mb-2 text-white">
				</div>
			</div>
		</div>	  
		<div class="row" >
			<div class="col-sm">
				<div class="p-3 mb-2 text-white">
				</div>
			</div>
			<div class="col-sm">
				<div class="p-3 mb-2 bg-primary text-white">
					<h4 class="text-center">
					    <p><a href="{% url 'mapa_cadastro_individual' %}"><button type="button" class="btn btn-primary">Visualizar Mapas</button></a></p>
					</h4>
				</div>
			</div>
			<div class="col-sm">
				<div class="p-3 mb-2 bg-primary text-white">
					<h4 class="text-center">
					    <p><a href="{% url 'grafico_cadastro_individual' %}"><button type="button" class="btn btn-primary">Visualizar Gráficos</button></a></p>
					</h4>
				</div>
			</div>
			<div class="col-sm">
				<div class="p-3 mb-2 text-white">
				</div>
			</div>
		</div>	  
	</div>
	<br>
	<center>	
		<a href="{% url 'logout' %}"><button type="button" class="btn btn-danger"><i class="fa fa-arrow-circle-left"></i> Sair</button></a>
	</center>
{% endblock %}