{% extends "base.html" %}

{% block title %}Lista Cadastro Individual{% endblock %}

{% block conteudo %}

{% load static %}

	<div class="container">
		<div class="row" >
			<div class="col-sm-2">
				<img class="img-fluid" class="img-thumbnail" src="https://drive.google.com/uc?id=1wv9EHy4Q867bwoG8ItVe9Y6IAdE9ejdn" width="300" height="168" alt="Logotipo eSus">
			</div>
			<div class="col-sm-7">
				<br>
				<h1 class="text-center">
					<h2>Lista Cadastro Individual</h2>
				</h1>
			</div>
			<div class="col-sm-3">
				<br>
			</div>
		</div>
	</div>
	<br>
	<table class="table table-hover table-bordered">
		<thead class="thead-dark">
			<th>CNS Cidadão</th> 
			<th>Nome Completo</th> 
			<th>Data Nascimento</th> 
			<th>Endereço</th> 
			<th>Número</th> 
			<th>Bairro</th> 
			<th>Ação</th> 
		</thead>
	
		<tbody>
			{% for FichaDoencas in FichaDoenca %}	
				<tr class="table-light">
					<td>{{ FichaDoencas.cnsCidadao }}</td>
					<td>{{ FichaDoencas.nomeCompleto }}</td> 
					<td>{{ FichaDoencas.dataNascimento }}</td> 
					<td>{{ FichaDoencas.endereco }}</td>
					<td>{{ FichaDoencas.numero }}</td>
					<td>{{ FichaDoencas.bairro }}</td>
					<td>
						<a href="{% url 'atualiza_cadastro_individual' pk=FichaDoencas.id %}"><i class="fa fa-edit" style="font-size:30px;color:blue" alt="Atualizar"></i></a>
						<a href="{% url 'deleta_cadastro_individual' pk=FichaDoencas.id %}"><i class="fa fa-trash-o" style="font-size:30px;color:red" alt="Excluir"></i></a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
 
	<a href="{% url 'cadastro_individual' %}"><button type="button" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Adicionar Ficha</button></a>
	<a href="{% url 'index' %}"><button type="button" class="btn btn-danger"><i class="fa fa-arrow-circle-left"></i> Voltar</button></a>
	<!--Endereço de icones: https://www.flaticon.com/-->

{% endblock %}